@model MyPlugIn.Models.UserViewModel

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@Html.Partial("PeoplePicker")

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>UserViewModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.FirstName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FirstName)
            @Html.ValidationMessageFor(model => model.FirstName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.LastName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.LastName)
            @Html.ValidationMessageFor(model => model.LastName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Login)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Login)
            @Html.ValidationMessageFor(model => model.Login)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsActive)
            @Html.ValidationMessageFor(model => model.IsActive)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.IsAdmin)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.IsAdmin)
            @Html.ValidationMessageFor(model => model.IsAdmin)
        </div>



        <div class="editor-label">
            @Html.LabelFor(model => model.Roles)
            @Html.ActionLink("Add role", "AddRole", null, new { id = "addRoleLink" })
            @Html.ValidationMessageFor(model => model.Roles)
        </div>
        @Html.Partial("Roles", Model.Roles)

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script type="text/javascript">
    $(document).ready(function () {

        $("#addRoleLink").click(function () {
            $.ajax({
                url: this.href,
                cache: false,
                success: function (html) { $("#roleRows").append(html); }
            });
            return false;
        });
    });

    function setUser(user)
    {
        $('#FirstName').val(user.FirstName);
        $('#LastName').val(user.LastName);
        $('#Login').val(user.Login);
    }
</script>
}
